<template>
  <div>
    <ul>
      <li><nuxt-link to="/">Mājas</nuxt-link></li>
      <li><nuxt-link to="/packages/">Pakotnes</nuxt-link></li>
      <li><nuxt-link to="/users/">Lietotāji</nuxt-link></li>
      <template v-if="$store.state.auth">
          <li @click="logOut()"><a href="/">Atslēgties</a></li>
      </template>
      <template v-else>
          <li><nuxt-link to="/login/">Pieslēgties</nuxt-link></li>
      </template>
    </ul>
    <nuxt/>
  </div>
</template>

<script>
import Cookie from 'js-cookie'

export default {
  data: () => ({
  }),
  methods: {
    logOut() {
        this.$store.commit('SET_AUTH', null)
        Cookie.remove('auth')
    }
  }
}
</script>

<style>
/* Simple form css & validation */

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input.is-danger {
    border: 2px solid red;
    border-radius: 4px;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Simple menu */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.nuxt-link-exact-active) {
    background-color: #ddd;
}

li a.nuxt-link-exact-active {
    color: white;
    background-color: #4CAF50;
}
</style>
