<template>
    <section>
        <h1>Pieslēgties</h1>
        <form @submit.prevent="login">

            <label for="username">Lietotāja vārds:</label>
            <span id="username_msg" v-show="errors.has('Lietotāja vārds')" class="help is-danger">{{ errors.first('Lietotāja vārds') }}</span>
            <input type="text" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Lietotāja vārds') }"
              id="username" name="Lietotāja vārds" v-model="user.username" required>

            <label for="password">Parole:</label>
            <span id="password_msg" v-show="errors.has('Parole')" class="help is-danger">{{ errors.first('Parole') }}</span>
            <input type="password" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Parole') }"
              id="password" name="Parole" v-model="user.password" required>

            <button :disabled="errors.any()" type="submit">Pieslēgties</button>
        </form>
    </section>
</template>

<script>
import Cookie from 'js-cookie'

export default {
  data: () => ({
    user: {},
    formError: null
  }),
  middleware: 'notAuthenticated',
  methods: {
    login() {
      this.$validator.validateAll().then(async (result) => {
        if (result) {
          try {
            const data = await this.$axios.post('/api/auth/local', this.user)
            this.$store.commit('SET_AUTH', data.data.token)
            Cookie.set('auth', data.data.token)
            if (this.$route.query && this.$route.query.next) {
              this.$router.push(this.$route.query.next)
            } else {
              this.$router.push('/')
            }
          } catch (error) {
            // TODO: implement nicer error alert.
            alert(error)
          }
        } else {
          // TODO: implement nicer error alert.
          alert('Correct them errors!')
        }
      })
    }
  }
}
</script>