<template>
    <section>
        <h1>Pievienot lietotāju</h1>
        <form @submit.prevent="addUser">

            <label for="firstname">Vārds:</label>
            <span id="firstname_msg" v-show="errors.has('Vārds')" class="help is-danger">{{ errors.first('Vārds') }}</span>
            <input type="text" v-validate="'alpha'" :class="{'input': true, 'is-danger': errors.has('Vārds') }"
              id="firstname" name="Vārds" v-model="user.firstName">

            <label for="lastname">Uzvārds:</label>
            <span id="lastname_msg" v-show="errors.has('Uzvārds')" class="help is-danger">{{ errors.first('Uzvārds') }}</span>
            <input type="text" v-validate="'alpha'" :class="{'input': true, 'is-danger': errors.has('Uzvārds') }" 
              id="lastname" name="Uzvārds" v-model="user.lastName">

            <label for="username">Lietotāja vārds:</label>
            <span id="username_msg" v-show="errors.has('Lietotāja vārds')" class="help is-danger">{{ errors.first('Lietotāja vārds') }}</span>
            <input type="text" v-validate="'required'" :class="{'input': true, 'is-danger': errors.has('Lietotāja vārds') }"
              id="username" name="Lietotāja vārds" v-model="user.username" required>

            <label for="password">Parole:</label>
            <span id="password_msg" v-show="errors.has('Parole')" class="help is-danger">{{ errors.first('Parole') }}</span>
            <input type="password" v-validate="'required|min:8|verify_password'" :class="{'input': true, 'is-danger': errors.has('Parole') }"
              id="password" name="Parole" v-model="user.password" required>

            <label for="password2">Parole atkārtoti:</label>
            <span id="password2_msg" v-show="errors.has('Parole2')" class="help is-danger">{{ errors.first('Parole2') }}</span>
            <input type="password" v-validate="{ is: user.password }" :class="{'input': true, 'is-danger': errors.has('Parole2') }"
              id="password2" name="Parole2" v-model="user.password2" required>

            <button :disabled="errors.any()" type="submit">Saglabāt</button>
            <nuxt-link to="/"><button type="cancel">Atlikt</button></nuxt-link>
        </form>
    </section>
</template>

<script>
import VeeValidate from 'vee-validate'
import Vue from 'vue'

Vue.use(VeeValidate);
 
VeeValidate.Validator.extend('verify_password', {
    getMessage: field => `Parolei jāsatur vismaz vienu lielo burtu vienu mazo burtu, vienu ciparu un speciālo simbolu (! @ # % & u.t.t.)`,
    validate: value => {
        var strongRegex = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[_!@#\$%\^&\*])(?=.{8,})")
        return strongRegex.test(value)
    }
});

export default {
  data: () => ({
    user: {},
    formError: null
  }),
  methods: {
    addUser() {
      this.$validator.validateAll().then(async (result) => {
        if (result) {
          try {
            const data = await this.$axios.post('/api/users', this.user)
            this.$router.push({path: '/users/'})
          } catch (error) {
            // TODO: implement nicer error alert.
            alert(error)
          }
        } else {
          // TODO: implement nicer error alert.
          alert('Correct them errors!')
        }
      })
    }
  }
}
</script>
