<template>
    <section>
        <h1>Labot lietotāju</h1>
        <form @submit.prevent="editUser">
            <label for="firstname">Vārds</label><br>
            <input type="text" name="firstname" v-model="user.firstName"><br>
            <label for="lastname">Uzvārds</label><br>
            <input type="text" name="lastname" v-model="user.lastName"><br>
            <label for="username">Lietotāja vārds</label><br>
            <input type="text" name="username" v-model="user.username"><br>
            <label for="password">Parole</label><br>
            <input type="password" name="password" v-model="user.password"><br>
            <label for="password2">Parole atkārtoti</label><br>
            <input type="password" name="password2" v-model="user.password2"><br>
            <button type="submit">Saglabāt</button>
            <nuxt-link to="/"><button type="cancel">Atlikt</button></nuxt-link>
        </form>
    </section>
</template>

<script>
export default {
  data: () => ({
    user: {},
    formError: null
  }),
  methods: {
    async editUser() {
      try {
        await this.$store.dispatch('addUser', this.user);
        this.$router.put({path: '/'})
      } catch (error) {
        this.formError = error.message
      }
    }
  }
}
</script>

