<template>
  <section class="container">
    <h1>Lietotāji:</h1>
    <nuxt-link to="/users/add">
      <button>Pievienot</button>
    </nuxt-link>
    <table style="width:100%">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th> 
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in users" :key="item.id">
          <td>{{item.firstName}} ({{item.id}})</td>
          <td>{{item.lastName}}</td> 
          <td>
            <nuxt-link to="/users/edit"><button>Labot</button></nuxt-link>
            <button @click="delUser(item)">Dzēst</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
export default {
  data: () => ({
    users: []
  }),
  middleware: 'authenticated',
  async asyncData(context) {
    let { data } = await context.$axios.get('/api/users')
    return { users: data }
  },
  methods: {
    delUser: async function (user) {
      try {
        const data = await this.$axios.delete('/api/users/' + user.id)
        const index = this.users.indexOf(user);
        if (index > -1) {
          this.users.splice(index, 1);
        }
      } catch (error) {
        // TODO: implement nicer error alert.
        alert(error)
      }
    }
  }
}
</script>


<style>
</style>
